each issues, i in groups
  if (issues && issues.length) 
    if labelGroup
      if labelGroup[i]
        h3= labelGroup[i]
    table(width="100%")
      thead
        tr
          th ID
          th Title
          th Assignee
          th State
          th Labels
          th Milestone
      each i in issues
        tr
          td: a(href="#{i.html_url}")= i.number
          td= i.title
          td
            if i.assignee
              = i.assignee.login 
            else
              strong nobody
          td= i.state
          td
            if i.labels
              = i.labels.map(function ($1) { return $1.name }).join(', ')
            else
              strong none
          td
            if i.milestone 
              = i.milestone.title
            else
              strong none
  else
    if labelGroup && labelGroup[i]
      strong No issues for #{labelGroup[i]}
